<div class="container" *ngIf="isDataAvailable">
        <mat-card class="feed-card">
          <mat-card-header>
            <mat-card-title>
              <h2>Question {{this.question.Id.toString().split('-')[1]}}</h2>
            </mat-card-title>
            <mat-card-subtitle class="feed-subTitle">
              UpVotes: {{ 
                (this.question.upvotes === undefined || this.question.upvotes === null ) ? 0 : this.question.upvotes 
              }} 
            </mat-card-subtitle>
            <mat-card-subtitle>
              DownVotes: {{ 
                (this.question.downvotes === undefined || this.question.downvotes === null) ? 0 : this.question.downvotes 
              }}
            </mat-card-subtitle>
            <mat-card-subtitle>
                <h3> {{ this.question.Text }}</h3>
              </mat-card-subtitle>
          </mat-card-header>
  
          <!-- Answers Begin -->
          <div>
              <ng-container #outlet >
            <mat-card-content>
              <ul>
                <li *ngFor="let answer of this.answers | questionFilter :this.question.Id :this.answers; index as i">
                    <mat-card-title>
                        <h3>Answer {{i+1}}</h3>
                      </mat-card-title>
                    <img class="profilePic" src={{getProfileImage(answer)}}>
                    <mat-card-header>
                      <mat-card-subtitle class="feed-subTitle">
                        Up Votes: {{ 
                          (answer.upvotes === undefined || answer.upvotes === null ) ? 0 : answer.upvotes 
                        }} 
                      </mat-card-subtitle>
                      <mat-card-subtitle>
                        Down Votes: {{ 
                          (answer.downvotes === undefined || answer.downvotes === null) ? 0 : answer.downvotes 
                        }}
                      </mat-card-subtitle>
                      <mat-card-subtitle>
                          Created By: {{ 
                            getName(answer)
                          }}
                      </mat-card-subtitle>
                      <mat-card-subtitle>
                          Created At: {{ answer.created_at }}
                      </mat-card-subtitle>
                      <mat-card-subtitle>
                          <h4> {{ answer.Answer }}</h4>
                      </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-footer>
                      <mat-card-actions class="actions">
                          <p><button 
                          (click)="onUpVote(answer)">UpVote</button></p>
                          <p><button
                          (click)="onDownVote(answer)">DownVote</button></p>
                        </mat-card-actions>
                    </mat-card-footer>
                </li>
              </ul>

            </mat-card-content>
          </ng-container>
          </div>
          <!-- Answers End -->
  
          <mat-card-footer>
          </mat-card-footer>
          <mat-card-actions class="actions">
              <p class="addAnswer">Add Your Answer</p>
                <textarea id="str" [(ngModel)]="str"></textarea>
                <p><button (click)="addAnswer(question)">Add Your Answer</button>
              </p> 
          </mat-card-actions>
        </mat-card>
        <mat-divider></mat-divider>
  </div>
  
  